[submodule "External/FusionShared"]
	path = External/FusionShared
	url = https://github.com/AetherPS/FusionShared
[submodule "External/Fusion-FTP"]
	path = External/Fusion-FTP
	url = https://github.com/AetherPS/Fusion-FTP
[submodule "External/PS4-Kernel-SDK"]
	path = External/PS4-Kernel-SDK
	url = https://github.com/OSM-Made/PS4-Kernel-SDK
