[submodule "External/FusionShared"]
	path = External/FusionShared
	url = https://github.com/AetherPS/FusionShared
[submodule "External/StubMaker"]
	path = External/StubMaker
	url = https://github.com/OSM-Made/StubMaker
[submodule "External/libUtils"]
	path = External/libUtils
	url = https://github.com/AetherPS/libUtils
[submodule "External/Fusion-FTP"]
	path = External/Fusion-FTP
	url = https://github.com/AetherPS/Fusion-FTP
[submodule "External/libFusionDriver"]
	path = External/libFusionDriver
	url = https://github.com/AetherPS/libFusionDriver
